<ion-view title="Login">
  <ion-content class="has-header padding">
    <h1>Login</h1>
    <label class="item item-input">
      <span class="input-label">Email</span>
      <input type="email">
    </label>

    <label class="item item-input">
      <i class="icon ion-email placeholder-icon"></i>
      <input type="text" placeholder="e-mail">
    </label>

    <label class="item item-input">
      <i class="icon ion-password placeholder-icon"></i>
      <input type="password" placeholder="password">
    </label>
    <br>
    <button class="button button-stable" ng-click="validateEmail($event)">
      Login
    </button>
  </ion-content>
</ion-view>
